.header {
  background-color: $color-primary;
  color: #fff;
  box-shadow: 0px 10px 8px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;

  &__hero {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image-wrapper {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

// about section

.section-about {
  background-color: $color-grey;
  &__text {
    padding: 3.8rem 0;
    font-size: 1.5rem;
    color: $light-text-color;
  }
}

// content section

.section-content {
  color: $dark-text-color;
  display: flex;
  &__left {
    background-color: $color-white;
    flex: 0 0 38%;
    box-shadow: 4px 0px 17px -3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
  }

  &__right {
    flex: 1;
    background-color: $color-grey-lightest;
    min-height: 20rem;
  }
}

.cb {
  padding: 2.8rem 5rem 0 8rem;
  &:first-of-type {
    padding: 3.5rem 5rem 0 8rem;
  }
}

// personal info
.cb-personal {
  &__list {
    list-style: none;
    padding-top: 0.6rem;
    font-size: 1.5rem;
  }
  &__list-item {
    padding-bottom: 0.7rem;
    padding-top: 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    &--property {
      font-weight: 700;
      display: inline-block;
      min-width: 40%;
    }
    &--value {
      display: inline-block;
    }
  }
}

// Softwar skills
.cb-software {
  &__list {
    list-style: none;
    padding-top: 1.3rem;
    font-size: 1.5rem;
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 0.7rem;
    &--property {
      flex: 0 0 40%;
    }
    &--value {
      position: relative;
      height: 0.7rem;
      flex: 1;
      background-color: $color-grey-light;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-right: 1.5px solid $color-white;
        background-color: $color-primary;
      }
    }
    &--value-1::after {
      width: 100%;
    }
    &--value-2::after {
      width: 95%;
    }
    &--value-3::after {
      width: 80%;
    }
    &--value-4::after {
      width: 70%;
    }
    &--value-5::after {
      width: 60%;
    }
    &--value-6::after {
      width: 50%;
    }
  }
}

// hobbies section
.cb-hobbies {
  &__content {
    padding-top: 1.3rem;
    padding-left: 3px;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.8rem;
    grid-row-gap: 0.7rem;
  }

  .hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary-lightest;
      width: 74px;
      height: 74px;
      border-radius: 50%;
    }
    &__icon {
      width: 55%;
      fill: white;
    }
    &__label {
      color: $dark-text-color;
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 0.7rem;
    }
  }
}

// Content - right section
.cb-right {
  padding-top: 3.4rem;
  padding-left: 3rem;
  padding-right: 8rem;
}

.section-content__right {
}

.right-section-work {
  &__content-wrapper {
    padding-top: 2rem;
  }
}

.cb-year {
  display: flex;
  &:last-of-type {
    overflow: hidden;
  }
  &__bullet-container {
    flex: 0 0 12%;
    position: relative;
  }

  &__bullet {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $color-primary-dark;
    border-radius: 50%;
    z-index: 12;
  }

  &__bullet-bg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba($color-primary, 0.2);
    position: absolute;
    top: -0.5rem;
    left: 0;
    z-index: 11;
  }

  &__bullet-line {
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    width: 2px;
    height: 120%;
    background-color: rgba($color-primary, 0.5);
    z-index: 10;
  }

  &__content-wrapper {
    flex: 1;
  }
  &__header {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    &--main {
      margin-right: auto;
    }
  }
  &__text {
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

// Professional Skills section
.right-section-professional-skills {
  &__skills-wrapper {
    display: flex;
    padding-top: 2rem;
  }
  &__skill {
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: $color-grey-light;
    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
    &--1 {
      background: conic-gradient($color-grey-light 0, $color-primary 0);
    }
    &--2 {
      background: conic-gradient(
        $color-grey-lightest 1%,
        $color-grey-light 0 10%,
        $color-grey-lightest 0 11%,
        $color-primary 0
      );
    }
    &--3 {
      background: conic-gradient(
        $color-grey-lightest 1%,
        $color-grey-light 0 20%,
        $color-grey-lightest 0 21%,
        $color-primary 0
      );
    }
    &--4 {
      background: conic-gradient(
        $color-grey-lightest 1%,
        $color-grey-light 0 28%,
        $color-grey-lightest 0 29%,
        $color-primary 0
      );
    }
    &--5 {
      background: conic-gradient(
        $color-grey-lightest 1%,
        $color-grey-light 0 32%,
        $color-grey-lightest 0 33%,
        $color-primary 0
      );
    }
  }
  &__skill-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: $color-grey-lightest;
  }
}
