*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 10 (10px that we want) / 16 (16px the default browser size)
  we did that so when the user change the font size in the browser
    our website change accordinely */
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #37383c; }

.container {
  max-width: 100rem;
  margin: 4rem auto; }

.heading-primary {
  font-weight: 300; }
  .heading-primary--main {
    font-size: 6rem;
    display: block; }
  .heading-primary--sub {
    font-size: 2rem;
    display: block; }

.heading-secondary {
  color: #12b2ec;
  font-size: 2.3rem; }

.padding-both {
  padding-left: 8rem;
  padding-right: 8rem; }

.u-padding-top {
  padding-top: 1.5rem; }

.header__upper {
  background-color: #0088cc;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem; }

.navigation__list {
  display: flex; }

.navigation__item {
  list-style: none;
  margin-right: 2rem; }

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 0.8;
  transition: border 0.3s color 0.3s; }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: 2px solid white;
    padding-bottom: 1.5rem;
    opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-color: #0aa1da;
  color: #fff;
  box-shadow: 0px 10px 8px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }
  .header__hero {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__image-wrapper {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    overflow: hidden; }
  .header__image {
    height: 100%;
    width: 100%; }

.section-about {
  background-color: #576268; }
  .section-about__text {
    padding: 3.8rem 0;
    font-size: 1.5rem;
    color: #e4e4e4; }

.section-content {
  color: #202020;
  display: flex; }
  .section-content__left {
    background-color: #f7f7f7;
    flex: 0 0 38%;
    box-shadow: 4px 0px 17px -3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2; }
  .section-content__right {
    flex: 1;
    background-color: #eee;
    min-height: 20rem; }

.cb {
  padding: 2.8rem 5rem 0 8rem; }
  .cb:first-of-type {
    padding: 3.5rem 5rem 0 8rem; }

.cb-personal__list {
  list-style: none;
  padding-top: 0.6rem;
  font-size: 1.5rem; }

.cb-personal__list-item {
  padding-bottom: 0.7rem;
  padding-top: 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .cb-personal__list-item--property {
    font-weight: 700;
    display: inline-block;
    min-width: 40%; }
  .cb-personal__list-item--value {
    display: inline-block; }

.cb-software__list {
  list-style: none;
  padding-top: 1.3rem;
  font-size: 1.5rem; }

.cb-software__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 0.7rem; }
  .cb-software__list-item--property {
    flex: 0 0 40%; }
  .cb-software__list-item--value {
    position: relative;
    height: 0.7rem;
    flex: 1;
    background-color: #e2e2e2; }
    .cb-software__list-item--value::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-right: 1.5px solid white;
      background-color: #0aa1da; }
  .cb-software__list-item--value-1::after {
    width: 100%; }
  .cb-software__list-item--value-2::after {
    width: 95%; }
  .cb-software__list-item--value-3::after {
    width: 80%; }
  .cb-software__list-item--value-4::after {
    width: 70%; }
  .cb-software__list-item--value-5::after {
    width: 60%; }
  .cb-software__list-item--value-6::after {
    width: 50%; }

.cb-hobbies__content {
  padding-top: 1.3rem;
  padding-left: 3px;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.8rem;
  grid-row-gap: 0.7rem; }

.cb-hobbies .hobby {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cb-hobbies .hobby__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbdaef;
    width: 75px;
    height: 75px;
    border-radius: 50%; }
  .cb-hobbies .hobby__icon {
    width: 55%;
    fill: white; }
  .cb-hobbies .hobby__label {
    color: #202020;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 0.7rem; }

.cb-right {
  padding-top: 3.4rem;
  padding-left: 3rem;
  padding-right: 8rem; }

.right-section-work__content-wrapper {
  padding-top: 2rem; }

.cb-year {
  display: flex; }
  .cb-year:last-of-type {
    overflow: hidden; }
  .cb-year__bullet-container {
    flex: 0 0 12%;
    position: relative; }
  .cb-year__bullet {
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #0088cc;
    border-radius: 50%;
    z-index: 12; }
  .cb-year__bullet-bg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(10, 161, 218, 0.2);
    position: absolute;
    top: -0.5rem;
    left: 0;
    z-index: 11; }
  .cb-year__bullet-line {
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    width: 2px;
    height: 120%;
    background-color: rgba(10, 161, 218, 0.5);
    z-index: 10; }
  .cb-year__content-wrapper {
    flex: 1; }
  .cb-year__header {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem; }
    .cb-year__header--main {
      margin-right: auto; }
  .cb-year__text {
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
